<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Spectrum Tabs Demo</title>
    <script type="module" src="../tabs.js"></script>
</head>
<body>
    <spectrum-tabs>
        <spectrum-tab-item>
            <label slot="label">Tab 1</label>
        </spectrum-tab-item>

        <spectrum-tab-item>
            <label slot="label">Tab 2</label>
        </spectrum-tab-item>

        <spectrum-tab-item>
            <label slot="label">Tab 3</label>
        </spectrum-tab-item>

        <spectrum-tab-item>
            <label slot="label">Tab 4</label>
        </spectrum-tab-item>

    </spectrum-tabs>
</body>
</html>
