<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Iconset - Spectrum Web Components</title>
        <script src="../../icons/spectrum-icons.js" type="module"></script>
        <script src="../../icon/icon.js" type="module"></script>
        <script src="../../demo-page/index.js" type="module"></script>
        <link rel="stylesheet" href="../../../styles/core-global/all.css" />
        <link rel="stylesheet" href="../../../styles/typography/font.css" />
        <link rel="stylesheet" href="../../../styles/scale-medium/all.css" />
    </head>

    <body>
        <demo-page title="Icon">
            <demo-section title="Image Icons" show-demo-code>
                <div slot="description">
                    Icons can use images, passed in as lightdom content.
                </div>
                <div slot="demo" style="display: flex; flex-direction: row;">
                    <spectrum-icon size="m" src="./PS_icon.png"></spectrum-icon>
                </div>
            </demo-section>
        </demo-page>
    </body>
</html>
